#admin{
    height:100vh;
}
/* admin header*/
#admin header{
    background:rgba(28, 160, 236, 0.986);
}
#admin header .logo{
    margin-left:20px;
}
#admin header .add{
    font: normal normal 14px/50px "微软雅黑";
    color: #fff;
    float: right;
    margin-right: 40px;
}
#admin .navigation{
    width:256px;
    padding-top:10px;
    position:absolute;
    top:50px;
    bottom:0;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected{
    background: grey;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected{
    background: grey;
}
.admin-content{
    margin-left:256px;
    padding:20px; 
}
.editor{
    position: relative;
    background: #fff;
    top:-50px;
}
.editor .title{
    width:75%;
}
.editor .title input{
    border:none;
    height:50px;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    margin:0;
}
.editor .ant-form-item{
    margin:0;
}
.editor input::placeholder{
    font-size:20px;
    color:grey;
}
.editor .select{
    position: absolute;
    top:10px;
    right:200px;
}
.editor .ant-select,.submit button{
    font-size: 16px;
    color:rgb(0,127,255);
}
.editor .submit{
    position: absolute;
    top:10px;
    right:130px;
}
.submit button{
    line-height:20px ;
}