/* admin header*/
#admin header{
    background:rgba(28, 160, 236, 0.986);
}
header .logo{
    margin-left:20px;
}
header .add{
    font: normal normal 14px/50px "微软雅黑";
    color: #fff;
    float: right;
    margin-right: 40px;
}
#admin .navigation{
    width:256px;
    min-height:100vh;
    padding-top:10px;
    float: left;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected{
    background: grey;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected{
    background: grey;
}
.admin-content{
    margin-left:256px;
    padding:20px;
}
