/* reset */
body,ul,li,h2,h3,p,a,button,input{
  margin:0;
  padding:0;
}
button{
  border:1px solid transparent;
  outline: none;
}
.clear:after{
  content:'';
  display: block;
  clear: both;
}
header li,aside li,.comments li{
  list-style: none;
}
a{
  text-decoration: none;
  color:#000;
}
h2,h3{
  font-weight: normal;
}
hr{
  background-color: #ddd;
  border:none;
  height:1px;
}
/* public */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue','微软雅黑',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:16px;
  color:#434343;
  background:rgb(244,245,245);
}
.App{
  display: flex;
  flex-direction:column;
  min-height: 100vh;
}
.piece{
  background: #fff;
  padding:20px;
  border-radius:5px;
  margin-bottom:20px;
  width:280px;
}
.title{
  margin-bottom:10px;
}
aside li{
  font-size: 14px;
  line-height:26px;
}

/* header */
header{
  height:50px;
  background:rgba(152,185,133,.3);
}
#navbox{
  width:75%;
  line-height:50px;
  margin:0 auto;
}
.logo{
  width:125px;
  height:50px;
  float: left;
  margin-right:30px;
  background:url(./img/logo.png) no-repeat;
  background-size: 125px 50px;
}

#nav li{
  float: left;
}
#nav a{
  font-size: 14px;
  display: block;
  padding:0 10px;
}
#nav li:hover{
  border-bottom:2px solid green;
}
#nav .active{
  border-bottom:2px solid green;
}
.loginPopup{
  float: right;
}
.loginPopup span{
  cursor: pointer;
  color: #2df;
}
.loginPopup .userlogo{
  width:40px;
  height:40px;
  border-radius: 50%;
  background:url(./img/userlogo.png) #fff no-repeat;
  background-size:95% 95% ;
  margin-top:5px;
}
.mask{
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cancel{
  width:30px;
  height:30px;
  background:#fff;
  border-radius: 50%;
  line-height: 30px;
  position: absolute;
  top:0;
  right:0;
}
/* main */
main{
  width:75%;
  margin:20px auto;
  flex: 1;
}

/* content */
.content{
  margin-right:298px;
  background: #fff;
  padding:25px;
}
.loading{
  display: block;
  margin:25% auto;

}
.article-list{
  background: #fff;
  padding:30px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px #ddd;
  margin-bottom:20px;
}
.detail{
  margin-bottom:30px;
}
.detail table{
  width:100%;
  border-bottom:1px solid rgb(223,226,229);
  border-right:1px solid rgb(223,226,229);
}
.detail table td,th{
  text-align: center;
  border-top:1px solid rgb(223,226,229);
  border-left:1px solid rgb(223,226,229);
}
.detail li{
  margin-left:20px;
}
.comments button{
  float:right;
  margin-top:-20px;
}
.comments .ant-comment-actions{
  text-align: right;
  margin-top:0;
}
/* aside */
aside{
  width:280px;
  float:right;
}
#intro .ellipsis{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#tag,aside #basic{
  background: #fff;
  padding:20px;
  border-radius:5px;
}
#tag h3{
  border-bottom:1px solid #eee;
  line-height:36px;
}
#tag .tagList li{
  float:left;
  margin:0 0 10px 5px; 
}
#tag .tagList li a{
  background: mediumturquoise;
  color:#fff;
  border-radius:5px;
  padding:5px;
}
.login-form a{
  color:#1890ff
}
.login-form .login-form-forgot{
  float:right;
}
.login-form .login-form-button,#register .register-form-button{
  width:100%;
}
.register-form .ant-spin,.login-form .ant-spin{
  margin-left:10px;
}
.register-form .ant-spin-dot-item,.login-form .ant-spin-dot-item{
  background-color:#fff;
}
.isLogin{
  border:none;
  cursor: pointer;
  background:transparent;
  color:#1890ff;
}
/*timeline*/
.ant-timeline{
  padding:30px;
  background: #fff;
}
/*login*/
.login{
  position: absolute;
  height:100%;
  width:100%;
  background:rgba(240,240,240,1);
  display: flex;
  justify-content: center;
  align-items: center;
}
